# ramp-specifics
ramp-workflow
osfclient

# generic datascience
matplotlib  # matplotlib-base
numpy
jupyter
pandas
scipy
imageio

tensorflow-gpu
scikit-learn

# dev
flake8
black
# line_profiler

# doc
# sphinx
# pydata-sphinx-theme
# myst-parser
