# ramp-specifics
ramp-workflow
osfclient

# generic datascience
matplotlib
numpy
jupyter
pandas
scipy
imageio

tensorflow==2.6.2
scikit-learn

# dev
flake8
black
# line_profiler

# doc
# sphinx
# pydata-sphinx-theme
# myst-parser